@model KakashiService.Web.ViewModel.ConfigurationVM
@{
    ViewBag.Title = "Registration";
}
<h3>Registration</h3>

@using (Ajax.BeginForm("Register", new AjaxOptions()
{
    HttpMethod = "POST",
    OnComplete = "AjaxResponse"
}))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Configurations</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(a => a.ServiceName, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.ServiceName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Port, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.Port, new {@class = "form-control"})
                    </div>
                </div>
                @*<div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Namespace, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.Namespace, new {@class = "form-control"})
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(a => a.BuildPath, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.BuildPath, new {@class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(a => a.Url, new {@class = "control-label"})
                        @Html.TextBoxFor(a => a.Url, new {placeholder = "Type your endpoint to clone", @class = "form-control"})
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <button class="btn btn-primary">Clone!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}